<h1>Editar Voluntario</h1>

<% form_for(@volunteer) do |f| %>
  <%= f.error_messages %>

  <table>

    <tr>
      <td>

        * <%= f.label :name %><br /></td><td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>


        * <%= f.label :last_name %><br /></td><td>
        <%= f.text_field :last_name %>
      </td>
    </tr>
    <tr>
      <td>


        * <%= f.label :second_last_name %><br /></td><td>
        <%= f.text_field :second_last_name %>

      </td>
    </tr>
    <tr>
      <td>

        &nbsp&nbsp&nbsp<%= f.label :profession %><br /></td><td>
        <%= f.text_field :profession %>
      </td>
    </tr>
    <tr>
      <td>


        &nbsp&nbsp&nbsp<%= f.label :phone_number %><br /></td><td>
        <%= f.text_field :phone_number %>
      </td>
    </tr>
    <tr>
      <td>


        &nbsp&nbsp&nbsp<%= f.label :movil %><br /></td><td>
        <%= f.text_field :movil %>
      </td>
    </tr>
    <tr>
      <td>


        * <%= f.label :date_of_birth %><br /></td><td>
        <%= f.date_select :date_of_birth %>

      </td>
    </tr>
    <tr>
      <td>

        * <%= f.label :genre %><br /></td><td>
        hombre<%= f.radio_button(:genre, "hombre") %>
        mujer<%= f.radio_button(:genre, "mujer") %> 
      </td>
    </tr>
    <tr>
      <td>


        * <%= f.label :position %><br /></td><td>
        <%= f.text_field :position %>

      </td>
    </tr>
    <tr>
      <td>

        &nbsp&nbsp&nbsp<%= f.label :email %><br /></td><td>
        <%= f.text_field :email %>
      </td>
    </tr>
    
    <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
    <tr>
      <td>
  </table>


  <p>
    <%= f.submit 'Editar' %>
  </p>
<% end %>

<%= link_to 'Ver', @volunteer %> |
<%= link_to 'Cancelar', volunteers_path %>