  <h1>Voluntarios</h1>

<% form_tag volunteers_path, :method => 'get' do %>
  <p>
    Parametro: <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
</p>
      <% end %>
<table>
  <tr>
    <td>
      <DIV align="right">   
<%= button_to 'Crear Voluntario', new_volunteer_path %>

</div>
<tr>
    <td>

<table border="3">

  <tr id ='head-table'>
    <th>Nombre</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>Profesion</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th>Fecha de Nacimiento</th>
    <th>Genero</th>
    <th>Cargo</th>
    <th>Email</th>
    <th colspan="3"> Acciones</th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%=h volunteer.name %></td>
    <td><%=h volunteer.last_name %></td>
    <td><%=h volunteer.second_last_name %></td>
    <td><%=h volunteer.profession %></td>
    <td><%=h volunteer.phone_number %></td>
    <td><%=h volunteer.movil %></td>
    <td><%=h volunteer.date_of_birth %></td>
    <td><%=h volunteer.genre %></td>
    <td><%=h volunteer.position %></td>
    <td><%=h volunteer.email %></td>
    <td><%= link_to 'Ver', volunteer %></td>
    <td><%= link_to 'Actualizar', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Borrar', volunteer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
      </td>
  </tr>
</table>
<br />