<script type="text/javascript">
    (function() {
        document.getElementById('idVolunteers').scrollIntoView(true);
    })();
</script>

<h1>Voluntarios</h1>

<% form_tag volunteers_path, :method => 'get' do %>
    <p>
      Parámetro <%= text_field_tag :search, params[:search] %>
      <%#  <%= check_box_tag :state, params[:state] %>
      <%= submit_tag "Buscar", :name => nil %>
    </p>
<% end %>
<table id="idVolunteers">
  <tr >
    <td colspan=2>
      <table border="3" >
        <tr id="table_volunteers">
          <th><%=link_to 'Nombre',{:order => 'name'} , {:style=>'color:#FFFFFF;'}%></th>
          <th><%=link_to 'Apellido Paterno',{:order => 'last_name'} , {:style=>'color:#FFFFFF;'}%></th>
          <th><%=link_to 'Apellido Materno',{:order => 'second_last_name'} , {:style=>'color:#FFFFFF;'}%></th>
          <th>Cargo</th>
          <th>Grupo</th>
        </tr>

        <% @volunteers.each do |volunteer| %>

            <% if volunteer.state %>

                <tr>
                  <td><%=h volunteer.name %></td>
                  <td><%=h volunteer.last_name %></td>
                  <td><%=h volunteer.second_last_name %></td>
                  <td><%=h volunteer.position %></td>
                  <td>
                    <% @groups.each do |group| %>
                        <%= group.name.to_s  if group.id == volunteer.group_id  %>
                    <%end%>
                  </td>
                </tr>
            <%end%>
        <% end %>
      </table>
    </td>
  </tr>
</table>
<br />