
<h1>Voluntarios</h1>

<table id="idVolunteers">
  <tr >
    <td align="right" >
      <div id='reportsOptions'>
        <table >
          <tr>
            <td>
              <%= button_to 'Crear Voluntario', new_volunteer_path %>
            </td>
            <td>
              <%= link_to 'Exportar a Excel', volunteers_path(:xls) %>
            </td>
          </tr>
        </table>
      </div>

  </tr>
  <tr >
    <td colspan=2>
      <table border="3" >
        <tr id="table_volunteers">
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Cargo</th>
          <th>Grupo</th>
          <th colspan="3">Acciones</th>
        </tr>

        <% @volunteers.each do |volunteer| %>

            <% if volunteer.state %>

                <tr>
                  <td><%=link_to (h volunteer.name), volunteer %></td>
                  <td><%=h volunteer.last_name %></td>
                  <td><%=h volunteer.second_last_name %></td>
                  <td><%=h volunteer.position %></td>
                  <td>
                    <% @groups.each do |group| %>
                        <%= group.name.to_s  if group.id == volunteer.group_id  %>
                    <%end%>
                  </td>
                  <td><%= link_to 'Editar', edit_volunteer_path(volunteer) %></td>
                  <td><%= link_to 'Eliminar',{:controller=>"volunteers",:action=>"set_state_volunteer",:id=>volunteer.id},:class=>"nyroModal" ,:rev=>"modal"%></td>
                </tr>

            <%end%>
        <% end %>
      </table>
    </td>
  </tr>
</table>
