<h1>Nuevo Voluntario</h1>

<% form_for(@volunteer) do |f| %>
  <%= f.error_messages %>
  <table>

    <tr>
      <td>
        <%= f.label :name %></td><td>
        <%= f.text_field :name %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :last_name %></td><td>
        <%= f.text_field :last_name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :second_last_name %></td><td>
        <%= f.text_field :second_last_name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :profession %></td><td>
        <%= f.text_field :profession %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :phone_number %></td><td>
        <%= f.text_field :phone_number %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :movil %></td><td>
        <%= f.text_field :movil %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :date_of_birth %></td><td>
        <%= f.date_select :date_of_birth %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :genre %></td><td>
        hombre<%= f.radio_button(:genre, "hombre") %>
        mujer<%= f.radio_button(:genre, "mujer") %>        

      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :position %></td><td>
        <%= f.text_field :position %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :email %></td><td>
        <%= f.text_field :email %>
      </td>
    </tr>
  </table>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Atras', volunteers_path %>