<h1>Editar Taller</h1>

<% form_for(@workshop) do |f| %>
  <%= f.error_messages %>

  <table>  
   <tr>
    <td>
      <b>Parroquia:</b>
    </td>
    <% @parish.each do |parish| 
      if parish.id == @workshop.parish_id
      %>
    
        <td><%= link_to parish.parish_name,parish %></td>
      <%end
    end%>
  </tr>
  <tr>
    <td>
      <b>Parroco:</b>
    </td>


    <td><%=h @pastor.name+" "+@pastor.primary_last_name+" "+@pastor.second_last_name  %></td>

  </tr>
  <tr>
    <td>
      <b>Estado de parroquia:</b>
    </td>


    <td><%=h @parish1.current_state%></td>

  </tr>
  <tr>
    <td>
      <b>Vicaria a la que pertenece:</b>
    </td> 
    <td><%=h  @vicariou.name_vicariou%></td>   
  </tr>
  
  <tr>
  <td><b> * Encargado</b></td>
    <td><%= f.text_field :in_charge %></td>    
  </tr>  

 
  
  <tr>
    <td><b>Observaciones</b></td>
    <td><%= f.text_area :observations , :rows=>6, :cols=>22%></td>
  </tr> 
  <tr>
    <td colspan="2" align="CENTER">
       <% if @rel.count!=0 %>
      
      <h1>Cursos Realizados</h1>
<table border="3" align="CENTER">

        <tr id ='head-table'>
          <th align="CENTER">Curso Formacion</th>
          <th align="CENTER">Cantidad</th>
          <th align="CENTER">Accion</th>
        </tr>

     


      
      
  <%   @rel.each do |r| %>
      <% @cour=Course.find(r.course_id) %>
        <tr>
          <td align="CENTER">
     <%= link_to r.to_s, @cour %>
            </td>
            
          <td align="CENTER">
    <%=  WorkshopsCourse.findByCourseWorshop(r.course_id,r.workshop_id).count%>
            </td>
            
          <td align="CENTER">
     accion
            </td>
      </tr>
    <%  end %>
     </table> 
    <%  else  %>
      <h1 align="CENTER">No Tiene Cursos!!! </h1>
    <%  end %>
  <tr align="right">
      <td colspan="2">         
          <%= f.submit 'Actualizar' %>
    <button type="reset">Limpiar</button>
    <%= link_to 'Ver', @workshop %> |
    <%= link_to 'Atras', workshops_path %>
      </td>
    </tr>  
  <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
</table>  
<% end %>

