<h1>Ver Taller</h1>
<table>

  <tr>
    <td>
      <b>Parroco o Administrador:</b> </td><td>       
      <%=h @workshop.pastor_or_administrator %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Parroquia:</b> </td><td>
      <%=h @workshop.parish %>
    </td>
  </tr>
  <tr>
    <td>

      <b>Telefono:</b></td><td>
      <%=h @workshop.phone %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Encargado de capacitacion:</b></td><td>

      <%=h @workshop.responsible_for_training %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Curso1:</b></td><td>      
      <%=h @workshop.course1 %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Curso2:</b></td><td>      
      <%=h @workshop.course2 %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Curso3:</b></td><td>      
      <%=h @workshop.course3 %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Curso4:</b></td><td>      
      <%=h @workshop.course4 %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Curso5:</b></td><td>      
      <%=h @workshop.course5 %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Curso6:</b></td><td>      
      <%=h @workshop.course6 %>
    </td>
  </tr>
  <tr>
    <td>

      <b>Seguimiento:</b></td><td>

      <%=h @workshop.follow_up %>
    </td>
  </tr>
  <tr>
    <td>

      <b>Observaciones:</b></td><td>

      <%=h @workshop.observation %>

    </td>
  </tr>  
  <tr align="right">
    <td colspan="2">
      <%= link_to 'Editar', edit_workshop_path(@workshop) %> |
      <%= link_to 'Atras', workshops_path %>      
    </td>
  </tr>
</table>
