<h1>Ver Parroquia</h1>
  <table>
    <tr>
      <td>
        <b>Nombre Parroquia:</b>
      </td>
      <td><%=h @parish.parish_name %></td>
    </tr>
    <tr>
      <td>
        <b>Ubicacion:</b>
      </td>
      <td><%=h @parish.ubication %></td>
    </tr>
    <tr>
      <td>
        <b>Transporte:</b>
      </td>
      <td><%=h @parish.transport %></td>
    </tr>
    <tr>
      <td>
        <b>Telefono:</b>
      </td>
      <td><%=h @parish.telephone %></td>
    </tr>
    <tr>
      <td>
        <b>Nombre del Parroco:</b>
      </td>
      <td><%=h @pastor.name+" "+@pastor.primary_last_name+" "+@pastor.second_last_name %></td>
    </tr>
  </table>


<%= link_to 'Editar', edit_parish_path(@parish) %> |
<%= link_to 'Volver', parishes_path %>