<h1>New pastor</h1>

<% form_for(@pastor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :primary_last_name %><br />
    <%= f.text_field :primary_last_name %>
  </p>
  <p>
    <%= f.label :second_last_name %><br />
    <%= f.text_field :second_last_name %>
  </p>
  <p>
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </p>
  <p>
    <%= f.label :cellphone_number %><br />
    <%= f.text_field :cellphone_number %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pastors_path %>