<%if current_user%>
<CENTER><h1>Actualizar Obra Social</h1></center>

<% form_for(@social_work) do |f| %>
  <%= f.error_messages %>

 <TABLE   ALIGN="CENTER">

   <TR>
      <td>* Parroquia</td>

      <TD >
          <p class="word_wrap"><%= f.text_field :parish %></p>
      </TD>
    </TR>
    <TR>
      <td>* Nombre</td>

      <TD >
          <p class="word_wrap"><%= f.text_field :name %></p>
      </TD>
    </TR>
    <TR>
      <td>* Obra social de:</td>

      <TD >
          <p class="word_wrap"><%= f.text_field :social_work %></p>
      </TD>
    </TR>
    <TR>
    <td>* Responsable</td>

      <TD >
          <p class="word_wrap"><%= f.text_field :responsible %></p>
      </TD>
    </TR>

    <TR>
      <td>* Lugar</td> 

      <TD >        
          <p class="word_wrap"><%= f.text_field :location %></p>
      </TD>
    </TR>
    <TR>
    <td> Telefono</td>

      <TD >
          <%= f.text_field :phone %>
      </TD>
    </TR>
    <TR>
    <td> Movil</td>

      <TD >
          <%= f.text_field :movil %>
      </TD>
    </TR>
    <TR>
    <td> Email</td>

      <TD >
          <%= f.text_field :email %>
      </TD>
    </TR>
    <TR>
    <td> Transporte</td>

      <TD >
        <p class="word_wrap">><%= f.text_field :transport %></p>
      </TD>
    </TR>

    <TR>
     <td>&nbsp&nbsp&nbspDescripción</td>

      <TD >
          <p class="word_wrap"><%= f.text_area :description , :size => "60x10", :style => "resize:none"  %></p>
      </TD>
    </TR>


    <TR>
    <td>* Responsable del Llenado</td>

      <TD >
          <p class="word_wrap"><%= f.text_field :responsible_filling %></p>
      </TD>
    </TR>
  
          <tr align="right">
      <td colspan="2">
        <%= f.submit 'Actualizar' %>
        <%= link_to 'Ver', :action => :show %>
        <%= link_to 'Volver', social_works_path %>
      </td>
    </tr>
    
        <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
   </TABLE>   

<% end %>
<%else%>
  <h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>