<h1>Listing social_works</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Responsible</th>
    <th>Location</th>
    <th>Phone</th>
    <th>Movil</th>
    <th>Email</th>
    <th>Transport</th>
    <th>Description</th>
  </tr>

<% @social_works.each do |social_work| %>
  <tr>
    <td><%=h social_work.social_work_name %></td>
    <td><%=h social_work.responsible %></td>
    <td><%=h social_work.location %></td>
    <td><%=h social_work.phone %></td>
    <td><%=h social_work.movil %></td>
    <td><%=h social_work.email %></td>
    <td><%=h social_work.transport %></td>
    <td><%=h social_work.description %></td>
    <td><%= link_to 'Show', social_work %></td>
    <td><%= link_to 'Edit', edit_social_work_path(social_work) %></td>
    <td><%= link_to 'Destroy', social_work, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New social_work', new_social_work_path %>