<h1>Crear Obra Social</h1>

<% form_for(@social_work) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td>* Nombre</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>* Responsable</td>
    <td><%= f.text_field :responsible %></td>
  </tr>
  <tr>
    <td>* Ubicacion</td>
    <td><%= f.text_field :location %></td>
  </tr>
  <tr>
    <td>Telefono</td>
    <td><%= f.text_field :phone %></td>
  </tr>
  <tr>
    <td>Celular</td>
    <td><%= f.text_field :movil %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td>Transporte</td>
    <td><%= f.text_field :transport %></td>
  </tr>
  <tr>
    <td>Descripcion</td>
    <td><%= f.text_area :description, :cols => 60, :rows => 10 %></td>
  </tr>
  <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
</table>
  <p>
    <%= f.submit 'Crear' %> <%= link_to 'Cancelar', social_works_path %>
  </p>
<% end %>