<p>
  <b>Nombre:</b>
  <%=h @social_work.name %>
</p>

<p>
  <b>Responsable:</b>
  <%=h @social_work.responsible %>
</p>

<p>
  <b>Ubicacion:</b>
  <%=h @social_work.location %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @social_work.phone %>
</p>

<p>
  <b>Celular:</b>
  <%=h @social_work.movil %>
</p>

<p>
  <b>Email:</b>
  <%=h @social_work.email %>
</p>

<p>
  <b>Transporte:</b>
  <%=h @social_work.transport %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @social_work.description %>
</p>


<%= link_to 'Edit', edit_social_work_path(@social_work) %> |
<%= link_to 'Back', social_works_path %>