<h1>Beneficiarios</h1>

<p>
  <% form_tag beneficiaries_path, :method => 'get' do %>
      <div>
        <%= label_tag "param_search", "Parámetros de Busqueda" %>
      </div>
      <div>
        <%= label_tag "search_ci", "CI" %>
        <%= text_field_tag :search_ci, params[:ci] %>
        <%= label_tag "search_telephone", "Telefono" %>
        <%= text_field_tag :search_telephone, params[:telephone] %>
      </div>
      <div>
        <%= label_tag "search__name", "Nombre" %>
        <%= text_field_tag :search_name, params[:First_name] %>
        <%= label_tag "search_last_name", "Apellido" %>
        <%= text_field_tag :search_last_name, params[:Last_name] %>
      </div>

      <div>
      	&nbsp;
      </div>
      <div>
      	Tipo de Beneficiario <select name="select_beneficiary_type" style="width: 150px">          
          <option value="" >Ninguno</option>         
          <% if BeneficiaryType.all.length > 0
            BeneficiaryType.all.each do |benef| 
              if benef.id != 0%>
                <option value="<%=benef.id%>" >
                  <%=benef.name%>
                </option>
              <% end 
            end 
          end%>                 
        </select>
      </div>
      <div>
      	&nbsp;
      </div>
      
      <div>
      	Tipo de Ayuda <select name="select_help_type" style="width: 150px">          
          <option value="" >Ninguno</option>         
          <% if HelpType.all.length > 0
            HelpType.all.each do |help_type| 
              if help_type.id != 0%>
                <option value="<%=help_type.id%>" >
                  <%=help_type.name%>
                </option>
              <% end 
            end 
          end%>                 
        </select>
      </div>
      <div>
      	&nbsp;
      </div>
      

        <%= submit_tag "Buscar", :name => nil %>

  <% end %>
</p>

<div style="position: inherit;">
  <%=button_to  'Registrar beneficiario', new_beneficiary_path %>
</div>
<tr>
<td colspan="2">
<table border="3">
  <tr id = 'head-table'>
    <th>CI</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Telefono</th>
    <th>Parroquia a la que pertenece</th>
    <th>Tipo de beneficiario</th>
    <th>Tipo de Ayuda</th>
    <th colspan="2">Acciones</th>
  </tr>

  <% @beneficiaries.each do |beneficiary| %>
      <tr>
        <td><%=link_to beneficiary.ci, beneficiary  %></td>
        <td><%=link_to beneficiary.name, beneficiary %></td>
        <td><%=link_to beneficiary.last_name, beneficiary %></td>
        <td><%=h beneficiary.telephone %></td>
        <td>
         		<% @parishes.each do |p| %>
                  <%= p.parish_name  if p.id == beneficiary.parish_id  %>
                <%end%>
        </td>
        <td>
         		<% @beneficiary_types.each do |p| %>
                  <%= p.name  if p.id == beneficiary.beneficiary_type_id  %>
                <%end%>
        </td>
        <td><%=h beneficiary.help_type.name  %></td>
        <td><%= link_to "Editar",edit_beneficiary_path(beneficiary) %> </td>
        <td><%= link_to 'Eliminar', beneficiary, :confirm => '¿Está seguro que desea eliminar al Beneficiario?', :method => :delete%></td>
 	  </tr>
 	  
    <% end %>
      
    </table>

    </td>
  </tr>
</table>
<br />
