<h1>Editing notice</h1>

<% form_for(@notice) do |f| %>
<%= f.error_messages %>
  <table>
    <tr>  
      <td>* <%= :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    
    <tr>
      <td><%= :description  %> </td>
      <td><%= f.text_area :description, :size => "100x10"%></td>
    </tr>

    <tr>
      <td>* <%= :notice_type %> </td>
      <td><%= f.select  :notice_type, Notice::NOTICES_TYPES %></td>
    </tr>

    <tr>
      <td><%= :is_published %></td>
      <td><%= f.check_box :is_published %></td>
    </tr>

    <tr>
      <td><%= :last_date %> </td>
      <td><%= f.date_select :last_date %></td>
    </tr>
    
    <tr align="right">
      <td colspan="2">
        <%= f.submit 'Guardar' %>
        <%= link_to 'Ver', :action => :show %>
        <%= link_to 'Cancelar', notices_path %>
      </td>
    </tr>

    <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
  </table>
<% end %>