<h1> Reporte de ayudas a beneficiarios</h1>
<% form_tag :controller => "beneficiary_helps", :action => "report" do %>

  <table>
    <tr id="sick">
      <td style="text-align: right">
        Desde:
      </td>
      <td>
        <%= date_select :date_start, params[:date_start] %>
      </td>
    </tr>
    <tr id="sick">
      <td style="text-align: right">
        Hasta:
      </td>
      <td>
        <%= date_select :date_end, params[:date_end] %>
      </td>
    </tr>
    <tr id="sick">
      <td colspan="2">
        &nbsp;        
      </td>      
    </tr>
    <tr id="sick">
      <td style="text-align: right">
        Parroquia:
      </td>
      <td>
        <div>
      	<select name="parish_id" style="width: 150px">
      		<option value="" >Ninguno</option>         
          <% if @parishes.length > 0
            @parishes.each do |parish| 
              if parish.id != 0%>
                <option value="<%=parish.id%>" >
                  <%=parish.parish_name%>
                </option>
              <% end 
            end 
          end%>              
        </select>
      </div>
      </td>
    </tr>
    <tr id="sick">
      <td style="text-align: right">
        Tipo de ayuda:
      </td>
      <td>
        <div>
      	<select name="select_help_type" style="width: 150px">
      		<option value="" >Ninguno</option>          
          <% if HelpType.all.length > 0
            HelpType.all.each do |help_type| 
              if help_type.id != 0%>
                <option value="<%=help_type.name%>" >
                  <%=help_type.name%>
                </option>
              <% end 
            end 
          end%>              
        </select>
      </div>
      </td>
    </tr>
    <tr id="sick">
      <td style="text-align: right">
        Tipo de beneficiario:
      </td>
      <td>
        <div>
      	<select name="beneficiary_type_id" style="width: 150px">
      		<option value="" >Ninguno</option>         
                <% if @beneficiary_types.length > 0
            @beneficiary_types.each do |type| 
              if type.id != 0%>
                <option value="<%=type.id%>" >
                  <%=type.name%>
                </option>
              <% end 
            end 
          end%>              
        </select>
      </div>
      </td>
    </tr>
  </table>
 
    
<%= submit_tag "Buscar", :id => nil %>
 <% end %>
 <%sumar=0%>
 <%= link_to 'Exportar a excel', report_beneficiary_helps_path(:xls) %>
<table>
  <tr>
      <th>Fecha</th>
      <th>Parroquia</th>
      <th>Tipo de ayuda</th>
      <th>Cantidad</th>
      <th>Tipo de beneficiario</th>
      <th>CI</th>
      <th>Nombre</th>
      <th>Apellido</th>   
  </tr>

<% @beneficiary_helps.each do |beneficiary_help| %>
  <tr>
    <td><%=h beneficiary_help.date %></td>
    <td><%=h beneficiary_help.beneficiary.parish.parish_name %></td>    
    <td><%=h beneficiary_help.helpType %></td>
    <td><%=h beneficiary_help.amount %></td>
    <td><%=h beneficiary_help.beneficiary.beneficiary_type.name %></td>
    <td><%=h beneficiary_help.beneficiary.ci %></td>
    <td><%=h beneficiary_help.beneficiary.name %></td>
    <td><%=h beneficiary_help.beneficiary.last_name %></td>
    <%sumar= sumar+beneficiary_help.amount%>
    
  </tr>
<% end %>
<td>Total</td>
<td></td>
<td></td>
<td><%=sumar%></td>
</table>
Total: <%= @beneficiary_helps.count%>
