<%if current_user%>
<h1> Reporte de Ayudas a beneficiarios</h1>
<% form_tag :controller => "beneficiary_helps", :action => "report" do %>
  Desde: <%= datetime_select :date_start, params[:date_start] %> <br/>
  Hasta:&nbsp; <%= datetime_select :date_end, params[:date_end] %><br/>
  <div>
      	&nbsp;
      </div>
      <div>
      	Parroquia <select name="parish_id" style="width: 150px">
      		<option value="" >Ninguno</option>         
          <% if @parishes.length > 0
            @parishes.each do |parish| 
              if parish.id != 0%>
                <option value="<%=parish.id%>" >
                  <%=parish.parish_name%>
                </option>
              <% end 
            end 
          end%>              
        </select>
      </div>
      <div>
      	&nbsp;
    </div>
    <div>
      	Tipo de ayuda <select name="select_help_type" style="width: 150px">
      		<option value="" >Ninguno</option>          
          <% if HelpType.all.length > 0
            HelpType.all.each do |help_type| 
              if help_type.id != 0%>
                <option value="<%=help_type.name%>" >
                  <%=help_type.name%>
                </option>
              <% end 
            end 
          end%>              
        </select>
      </div>
      <div>
      	&nbsp;
    </div>
    <div>
      	Tipo de beneficiario <select name="beneficiary_type_id" style="width: 150px">
      		<option value="" >Ninguno</option>         
          <% if @beneficiary_types.length > 0
            @beneficiary_types.each do |beneficiary_type| 
              if beneficiary_type.id != 0%>
                <option value="<%beneficiary_type.id%>" >
                  <%beneficiary_type.name%>
                </option>
              <% end 
            end 
          end%>              
        </select>
      </div>
      <div>
      	&nbsp;
    </div>
<%= submit_tag "Filtrar", :id => nil %>
 <% end %>
 
 
<table>
  <tr>
    <th>Fecha</th>
    <th>Parroquia</th>
    <th>CI</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Tipo de ayuda</th>
    <th>Cantidad</th>
    <th>Detalle</th>
  </tr>

<% @beneficiary_helps.each do |beneficiary_help| %>
  <tr>
    <td><%=h beneficiary_help.date %></td>
    <td><%=h beneficiary_help.beneficiary.parish.parish_name %></td>
    <td><%=h beneficiary_help.beneficiary.ci %></td>
    <td><%=h beneficiary_help.beneficiary.name %></td>
    <td><%=h beneficiary_help.beneficiary.last_name %></td>
    <td><%=h beneficiary_help.helpType %></td>
    <td><%=h beneficiary_help.amount %></td>
    <td><%=h beneficiary_help.detail %></td>
  </tr>
<% end %>
	
</table>
Total: <%= @beneficiary_helps.count%>
<%else%>
<h2>No puede realizar esta acción, por favor contáctese con el administrador del sistema</h2>
<%end%>