<h1>Editar Curso de Formación</h1>

<% form_for(@courses_type, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <table>

    <tr>
      <td><%= f.label :name, "* Nombre" %></td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td width="250"><%= f.label :description, "* Descripción" %></td>
      <td width="250"><%= f.text_area :description , :style => "resize:none"%></td>
    </tr>
    
    <tr>

      <td>&nbsp;&nbsp;&nbsp;Archivo adjunto</td>
      <% if @courses_type.course_file.nil? %>
      <td><%=  image_tag @parish.parish_photo.url, :size=>"300x200" %></td>
      <% else %>
      <td>No está disponible la fotografía
      <% end   %>
      <br><%=  file_field 'courses_type',  'course_file' %></td>
    </tr>


    <tr align="right">
      <td colspan="2">
        <%= f.submit 'Guardar' %>
        <%= link_to 'Ver', :action => :show %>
        <%= link_to 'Cancelar', courses_types_path %>
      </td>
    </tr>

  </table>

<% end %>