<h1>Ver Curso de Formación</h1>

<table>

  <tr>
    <td><b>Nombre</b></td>
    <td><%=h @courses_type.name %></td>
  </tr>

  <tr>
    <td width="250"><b>Descripción</b></td>
    <td width="250"><%=h @courses_type.description %></td>
  </tr>
  <tr>
    <td><b>Avatar</b></td>
    <% if @courses_type.course_file.nil? %>
      <td><%=  image_tag @parish.parish_photo.url, :size=>"300x200" %></td>
      <% else %>
      <td>No está disponible la fotografía</td>
      <% end   %>
  </tr>


  <tr align="right">
    <td colspan="2">
      <%= link_to 'Editar', edit_courses_type_path(@courses_type) %> |
      <%= link_to 'Volver', courses_types_path %>
    </td>
  </tr>

</table>