<h1>Editar Grupo</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <table>

    <tr>
      <td>* Nombre</td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td>Responsable</td>
      <td>
        <select name="group[volunteer_id]">
          <option value="-1"></option>
          <% if @volunteers
            @volunteers.each do |volunteer| %>
              <option value="<%=volunteer.id%>" <%='selected' if volunteer.id == @group.volunteer_id %>>
                <%=volunteer.to_s%>
              </option>
            <% end 
          end%>
        </select>
      </td>
    </tr>

    <tr align="right">
      <td colspan="2">
        <%= f.submit 'Guardar' %>
        <%= link_to 'Ver', :action => :show %>
        <%= link_to 'Cancelar', groups_path %>
      </td>
    </tr>

  </table>

<% end %>