<h1>Grupos</h1>

<p>
  <% form_tag groups_path, :method => 'get' do %>
    Nombre <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  <% end %>
</p>

<table>
  <tr align="right">
    <td>
      <%=button_to 'Crear Grupo', new_group_url %>
    </td>
  </tr>
  <tr>
    <td colspan="2">

      <table border="3">
        <tr id = 'head-table'>
          <th>Nombre</th>
          <th>Responsable</th>
          <!--<th>Voluntarios</th>-->
          <th colspan="3">Acciones</th>
        </tr>

        <% @groups.each do |group|
        if permitted_to? :show, :groups
	            if group.id != 0 && group.state%>
	            <tr>
	              <td><%= link_to group.name, group %></td>
	              <td><%=h group.volunteer %></td>
	              <!--<td><#%= link_to 'Voluntarios', volunteers_url %></td>-->

	              <td>
                  <% if permitted_to? :index_group, :volunteers %>
                  <%= link_to "Ver Voluntarios", :controller => "volunteers",:action => "index_group",:id=>1,:group=> group.id %>
                  <% elsif permitted_to? :index_show, :volunteers %>
	              <%= link_to "Ver Voluntarios", :controller => "volunteers",:action => "index_show", :id=>current_user_id_data,:group=> group.id %></td>
	              <% end %>	              
	              </td>              
	        
        	      <td><% if permitted_to? :edit, :groups %>
	              <%= link_to 'Editar', edit_group_url(group) %></td>
	              
	              <% end %>
	              
	              <td><% if permitted_to? :destroy, :groups %>
	              <%= link_to 'Eliminar', group, :confirm => '¿Está seguro que desea eliminar el grupo?', :method => :delete %></td>
	              
	              <% end %>
	              </td>
	            </tr>
	          <% end
	          end 
        end %>
      </table>

    </td>
  </tr>
</table>
