
<h1>Editar Vicaria</h1>

<% form_for(@vicariou) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr><td><%= f.label :name_vicariou, "*&nbsp;Nombre de Vicaria" %></td><td><%= f.text_field :name_vicariou %></td></tr>
    <tr><td><%= f.label :ubication, "*&nbsp;Ubicación" %></td><td><%= f.text_field :ubication %></td></tr>
    <tr><td>&nbsp;&nbsp;Transporte</td><td><%= f.text_field :transport %></td></tr>
    <tr><td><%= f.label :telephone, "*&nbsp;Teléfono" %></td><td><%= f.text_field :telephone %></td></tr>
    <tr><td>*&nbsp;Nombre del Vicario</td><td>
        <select name="vicariou[pastor_id]" style="width: 195px">

          <% @pastor.each do |pastor| %>
            <% if !@pastorA.empty? %>
              <%@pastorA.each do |pastor2| %>
                <% if pastor.id==pastor2.id %>
                  <option style="color: green" value="<%=pastor.id%>">
                    <%=pastor.name+" "+pastor.primary_last_name+" "+pastor.second_last_name%>
                  </option>
                <% else %>              
                  <option value="<%=pastor.id%>" <%='selected' if pastor.id == @vicariou.pastor_id %>>
                    <%=pastor.name+" "+pastor.primary_last_name+" "+pastor.second_last_name%>(asignado)
                  </option>
                <%end%>
              <%end%>
            <% else %>              
              <option value="<%=pastor.id%>" <%='selected' if pastor.id == @vicariou.pastor_id %>>
                <%=pastor.name+" "+pastor.primary_last_name+" "+pastor.second_last_name%>(asignado)
              </option>     
            <%end%>

            </option>
          <%end%>
        </select>
        <% if @pastorA.nil? || @pastorA.empty? %>
          <br/>Todos los vicarios estan asignados.
        <%end%>

      </td></tr>
    <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>

    <tr align="right">
      <td colspan="2">
        <%= link_to 'Ver', @vicariou %>  <%= f.submit 'Guardar' %><%= link_to 'Cancelar', vicarious_path %>
      </td>
    </tr>
  </table>

<% end %>
