<h1>Listing vicarious</h1>

<table>
  <tr>
    <th>Nombre Vicaria</th>
    <th>Ubicacion</th>
    <th>Transporte</th>
    <th>Telefono</th>
    <th>Nombre del Vicario</th>
  </tr>

<% @vicarious.each do |vicariou| %>
  <tr>
    <td><%=h vicariou.nameVicariou %></td>
    <td><%=h vicariou.ubication %></td>
    <td><%=h vicariou.transport %></td>
    <td><%=h vicariou.telephone %></td>
    <td><%=h vicariou.vicarName %></td>
    <td><%= link_to 'Show', vicariou %></td>
    <td><%= link_to 'Edit', edit_vicariou_path(vicariou) %></td>
    <td><%= link_to 'Destroy', vicariou, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vicariou', new_vicariou_path %>