<h1>Vicarias</h1>

<% form_tag vicarious_path, :method => 'get' do %>
  <p>
    Parametro: <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
</p>
<% end %>
<table>
  <tr>
    <td>
      <DIV align="right">   
<%= link_to 'Crear Vicaria', new_vicariou_path %>

</div>
<tr>
    <td>
<table>
  <tr>
    <th>Nombre Vicaria</th>
    <th>Ubicacion</th>
    <th>Telefono</th>
  </tr>

<% @vicarious.each do |vicariou| %>
  <tr>
    <td><%=h vicariou.name_vicariou %></td>
    <td><%=h vicariou.ubication %></td>
    <td><%=h vicariou.telephone %></td>
    <td><%= link_to 'Mostrar', vicariou %></td>
    <td><%= link_to 'Editar', edit_vicariou_path(vicariou) %></td>
    <td><%= link_to 'Destroy', vicariou, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</td>
  </tr>
</table>

<br />

