<p>
  <b>Namevicariou:</b>
  <%=h @vicariou.nameVicariou %>
</p>

<p>
  <b>Ubication:</b>
  <%=h @vicariou.ubication %>
</p>

<p>
  <b>Transport:</b>
  <%=h @vicariou.transport %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @vicariou.telephone %>
</p>

<p>
  <b>Vicarname:</b>
  <%=h @vicariou.vicarName %>
</p>


<%= link_to 'Edit', edit_vicariou_path(@vicariou) %> |
<%= link_to 'Back', vicarious_path %>