<p>
  <b>Nombre Vicaria:</b>
  <%=h @vicariou.nameVicariou %>
</p>

<p>
  <b>Ubicacion:</b>
  <%=h @vicariou.ubication %>
</p>

<p>
  <b>Transporte</b>
  <%=h @vicariou.transport %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @vicariou.telephone %>
</p>

<p>
  <b>Nombre del Vicario:</b>
  <%=h @vicariou.vicarName %>
</p>


<%= link_to 'Edit', edit_vicariou_path(@vicariou) %> |
<%= link_to 'Back', vicarious_path %>