
<h1>Usuarios</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>E-mail</th>
    <th>Rol</th>
    <th colspan="2">Acciones</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%=h User::USERS_TYPES[user.roles] %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, :confirm => '¿Está seguro que desea eliminar el usuario?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Registrar Usuario', new_user_path %>
+<%= link_to 'Registrar Usuario Voluntario',:controller=>"volunteers", :action=>"index_users",:id=>" " %>