<script type="text/javascript">
    $(document).ready(function() {
        $("#controller_volunteer").hide("slow");
        $("#controller_pastor").hide("slow");
        $('#user_volunteer').removeAttr('name');
        $('#user_pastor').removeAttr('name');
        $('select#user_roles').change(function(){
            if ($(this).val() == 2) {
                $('#user_volunteer').attr('name','user[controller_type]');
                $("#controller_pastor").hide("slow");
                $('#controller_volunteer').show('slow');
                $('#user_pastor').removeAttr('name');
            }
            if ($(this).val() == 1) {
                $('#user_pastor').attr('name','user[controller_type]');
                $('#controller_volunteer').hide("slow");
                $('#controller_pastor').show('slow');
                $('#user_volunteer').removeAttr('name');
            }
            if($(this).val() == 0)
            {
                $('#user_volunteer').removeAttr('name');
                $('#user_pastor').removeAttr('name');
                $("#controller_volunteer").hide("slow");
                $("#controller_pastor").hide("slow");
            }
        });
    });
</script>
<h1>Nuevo Usuario</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>* Nombre de Usuario</td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td>* E-mail</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>* Contraseña</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>* Confirmacion de Contraseña</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
	<tr>
       <td>* Rol usuario</td>
       
      <td>
        <select id="user_roles" name="user[roles]">
		    <% for i in  1..User::USERS_TYPES.length  do %>
            <option id="<%=User::USERS_TYPES[i - 1]%>" value="<%=i - 1%>">
             <%= User::USERS_TYPES[i - 1]%>
            </option>
		    <%end%>
		</select>
	  </td>
    </tr>
    <tr id="controller_volunteer">
      <td>Elija un voluntario para el usuario</td>
      <td>
        <select id="user_volunteer" name="user[controller_type]">
          <% if @volunteers
               @volunteers.each do |volunteer| %>
                  <option value="<%= volunteer.id %>">
                    <%= volunteer.name %> <%= volunteer.last_name%> <%= volunteer.second_last_name%>
                  </option>
              <%end%>
          <% end %>
        </select>
      </td>
    </tr>
    <tr id="controller_pastor">
      <td>Elija un parroco para el usuario</td>
      <td>
        <select id="user_pastor" name="user[controller_type]">
          <% if @pastors
               @pastors.each do |pastor| %>
                  <option value="<%= pastor.id %>">
                    <%= pastor.name %> <%= pastor.primary_last_name%> <%= pastor.second_last_name%>
                  </option>
              <%end%>
          <% end %>
        </select>
      </td>
    </tr>
    <tr align="right">
      <td colspan="2"><%= f.submit 'Registrar' %></td>
    </tr>
  </table>

<% end %>
