
<p>
  <b>Nombre de Usuario</b>
  <%=h @user.username %>
</p>

<p>
  <b>E-mail</b>
  <%=h @user.email %>
</p>

<p>
  <b>Rol usuario</b>
  <%=h User::USERS_TYPES[@user.roles] %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atrás', users_path %>

