<h1>Nueva Campa&ncaron;a</h1>

<% form_for(@campaing) do |f| %>
  <%= f.error_messages %>

<TABLE  WIDTH=300>

<TR>
<TD WIDTH=100>
   <p>
    *<b> <%= f.label :Nombre   %></b>
   
  </p>
</TD>

<TD WIDTH=100>
   <p>
      <%= f.text_field :name %>
  </p>
</TD>
</TR>

<TR>
<TD WIDTH=100>
   <p>
    *<b><%= f.label :Lugar   %></b>
   
  </p>
</TD>

<TD WIDTH=100>
   <p>
    <%= f.text_field :location %>
  </p>
</TD>
</TR>

<TR>
<TD WIDTH=100>
   <p>
   <b> <%= f.label :Descripcion %></b><br />
  
  </p>
</TD>

<TD WIDTH=100>
   <p>

    <%= f.text_area :description  %>
  </p>
</TD>
</TR>


<TR>
<TD WIDTH=100>
   <p>
    <b><%= f.label :Fecha_de_inicio   %></b>    
     
  </p>
</TD>

<TD WIDTH=100>
   <p>
   
    <%= f.date_select :date_ini %>  
       
  </p>
</TD>
</TR>

<TR>
<TD WIDTH=100>
 <p>
   <b> <%= f.label :Fecha_de_finalizacion   %></b>
 
  </p>
</TD>

<TD WIDTH=100>
 <p>
   <%= f.date_select :date_end %>
  </p>
</TD>
</TR>

<TR>
<TD WIDTH=100>
 <p>
   <b> *<%= f.label :Responsable   %></b>
  
  </p>
</TD>

<TD WIDTH=100>
 <p>
    <%= f.text_field :responsible %>
  </p>
</TD>
</TR>


<TR>
<TD WIDTH=100>
 <p>
   <b> *<%= f.label :Estado    %></b>

  </p>
</TD>

<TD WIDTH=100>
 <p>

    <%= f.text_field :state %>
  </p>
</TD>
</TR>


</TABLE>   
  <p>
    <%= f.submit 'Registrar' %>
  </p>
<% end %>

<%= link_to 'Agregar colectas' %>  | <%= link_to 'Distribuir colectas' %>  | <%= link_to 'Agreagr fotos' %> | <%= link_to 'Agregar gastos' %><br/>
<hr align="LEFT" size="1" width="800" color="Red" noshade/> 
<%= link_to 'Atras', campaings_path %>  

