<CENTER><h1>Nueva Campa&ntilde;a</h1></center>

<% form_for(@campaing) do |f| %>
  <%= f.error_messages %>

  <TABLE   ALIGN="CENTER">

    <TR>
      <TD >
        <p>
          *<b> <%= f.label :Nombre   %></b>

        </p>
      </TD>

      <TD >
        <p>
          <%= f.text_field :name %>
        </p>
      </TD>
    </TR>

    <TR>
      <TD >
        <p>
          *<b><%= f.label :Lugar   %></b>   
        </p>
      </TD>

      <TD >
        <p>
          <%= f.text_field :location %>
        </p>
      </TD>
    </TR>

    <TR>
      <TD >
        <p>
          <b> <%= f.label :Descripcion %></b><br />

        </p>
      </TD>

      <TD >
        <p>

          <%= f.text_area :description , :rows=>6, :cols=>30  %>
        </p>
      </TD>
    </TR>


    <TR>
      <TD >
        <p>
          <b><%= f.label :Fecha_de_inicio   %></b>    

        </p>
      </TD>

      <TD >
        <p>

          <%= f.date_select :date_ini %>  

        </p>
      </TD>
    </TR>

    <TR>
      <TD >
        <p>
          <b> <%= f.label :Fecha_de_finalizacion   %></b>

        </p>
      </TD>

      <TD >
        <p>
          <%= f.date_select :date_end %>
        </p>
      </TD>
    </TR>

    <TR>
      <TD >
        <p>
          <b> *<%= f.label :Responsable   %></b>

        </p>
      </TD>

      <TD >
        <p>
          <%= f.text_field :responsible %>
        </p>
      </TD>
    </TR>


    <TR>
      <TD >
        <p>
          <b> *<%= f.label :Estado    %></b>

        </p>
      </TD>

      <TD >
        <p>
          <%= f.text_field :state %>    
        </p>
      </TD>
      </TR>
      <TR>
        <TD>
          <p>
            <%= f.submit 'Registrar' %>
            <button type="reset">Limpiar</button>
            <%= link_to 'Atras', campaings_path %>  
          </p>
        </TD>
        
        
      
  </TR>

  </TABLE>   
 
<% end %> 

<hr align="LEFT" size="1" width="800" color="Red" noshade/> 

