<%if current_user%>
<h1>Administrar tipos de ayuda</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
  </tr>

<% @help_types.each do |help_type| %>
  <tr>
    <td><%=h help_type.name %></td>
    <td><%=h help_type.description %></td>
    <td><%= link_to 'Ver', help_type %></td>
    <td><%= link_to 'Editar', edit_help_type_path(help_type) %></td>
    <td><%= link_to 'Eliminar', help_type, :confirm => 'Está seguro que desea eliminar el tipo de ayuda?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Registrar tipo de ayuda', new_help_type_path %>
<%end%>