<%if current_user%>
<CENTER><h1>Nuevo Curso</h1></center>

<% form_for(@course) do |f| %>
  <%= f.error_messages %>
<TABLE   ALIGN="CENTER">   
  
  <tr>
    <td>       
      <%= f.hidden_field :workshop_id, :value => params[:nada] %>
      <%= f.hidden_field :courses_types_id, :value => params[:nada1] %>      
      <% @cour= CoursesType.findf(params[:nada1])[0] %>
    </td>
  </tr>    
  
  <tr>
    <td>* Nombre<br /></td>
    <td><%= f.text_field :name , :value => @cour.name %></td>
  </tr>
  
  <tr>
    <td>* Responsable<br /></td>
    <td><%= f.text_field :responsible %></td>
  </tr>
  
  <tr>
    <td>&nbsp&nbsp&nbspFecha<br /></td>
    <td><%= f.date_select :date_ini %></td>
  </tr>
  
  <tr>
    <td>&nbsp&nbsp&nbspDescripción<br /></td>
    <td><%= f.text_area :description, :rows=>6, :cols=>22  %></td>
  </tr>
  
  <tr>
      <td>* Seleccione los Voluntarios</td>
      <td>
        <% listaVoluntarios = Volunteer.all.map { |volunteer| [volunteer.name.to_s+ " " + volunteer.last_name.to_s, volunteer.id] } %>
        <%= select_tag "listaVoluntarios",options_for_select(listaVoluntarios),:multiple=>true%>
        <%#*<select id="listaVoluntarios" multiple="multiple">%>
          <%#= options_for_select Volunteer.all %>          
        <%#*</select>%>
      </td>
    </tr>
    
    <tr align="right">
      <td colspan="2">
        <%= f.submit 'Registrar' %>
        <button type="reset">Limpiar</button>
        <%= link_to 'Volver', courses_path %>
      </td>
    </tr>
    
        <tr>
      <td>*  Estos campos son obligatorios</td>
    </tr>
    
    </TABLE>   
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#listaVoluntarios").dropdownchecklist( { emptyText: "Please Select...", width: 150 } );
  });
</script>
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>
