<%if current_user%>
<CENTER><h1>Curso</h1></center>

<TABLE ALIGN="CENTER">

  <tr>
    <td><b>Name:</b></td>
    <td><%=h @course.name %></td>
  </tr>

  <tr>
  <td><b>Responsible:</b></td>
  <td><%=h @course.responsible %></td>
  </tr>

  <tr>  
    <td><b>Date ini:</b></td>
    <td><%=h @course.date_ini %></td>
  </tr>

  <tr>
    <td><b>Description:</b></td>
    <td><%=h @course.description %></td>
  </tr>

<tr align="right">
    <td colspan="2">
      <% if current_user %>
            <%= link_to 'Editar', edit_course_path %>|
          <% end %>
      <%= link_to 'Volver', courses_path %>
    </td>
  </tr>

</table>
<%else%>
<h1>no puede realizar esta accion, porfavor contactese</h1>
<%end%>
