<h1>Editar tipo de beneficiario</h1>

<% form_for(@beneficiary_type) do |f| %>
<%= f.error_messages %>

<table>
	<tr>
		<td><%= f.label :name, "* Nombre" %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :description, "  Descripcion" %></td>
		<td><%= f.text_field :description %></td>
	</tr>
	<tr align="right">
		<td colspan="2"> <%= f.submit 'Guardar' %>
		<%= link_to 'Ver', @beneficiary_type %> |
		<%= link_to 'Cancelar', beneficiary_types_path %> </td>
	</tr>
</table>
<% end %>