<div  id="contenido">
	<div class="menu"><div id="menu_i"></div>	<div id="menu_d"></div>
		<ul>
		<li><%= link_to 'Inicio',:controller => "main_page", :action => "index"%>
            <ul><span></span>
                <li><%= link_to 'Quienes somos?',:controller => "main_page", :action => "index" %></li>
                <li><%= link_to 'Equipo de trabajo',:controller => "main_page", :action => "index" %></li>
            </ul>
		</li>
		<li><a href="#">Grupos y Voluntarios</a>
		<ul><span></span>
			<li><%= link_to 'Vicaria',:controller => "vicarious", :action => "index" %></li>
            <li><%= link_to 'Parroquia',:controller => "parishes", :action => "index"%> </li>
            <li><%= link_to 'Grupos',:controller => "groups", :action => "index"%></li>
            <li><%= link_to 'Voluntario',:controller => "volunteers", :action => "index"%></li>
            <li><%= link_to 'Parroco',:controller => "pastors", :action => "index"%></li>
		</ul></li>
		<li><a href="#">Campañas y Proyectos</a>
		<ul><span></span>
           <li><%= link_to 'Campaña',:controller => "campaings", :action => "index"%></li>
           <li><%= link_to 'Noticias',:controller => "notices", :action => "index"%></li>
            <li><%= link_to 'Obra Social',:controller => "social_works", :action => "index"%></li>
		</ul>
		</li>
	</ul>
	</div><!-- fin Menu -->
</div>
