

    <div  id="nav">
	      <ul>
            <li id="current"><a href="#">Inicio</a></li>
            <li><%= link_to 'Vicaria',:controller => "vicarious", :action => "index" %></li>
            <li><%= link_to 'Parroquia'%> </li>
            <li><%= link_to 'Grupos',:controller => "groups", :action => "index"%></li>
            <li><%= link_to 'Voluntario',:controller => "volunteers", :action => "index"%></li>
            <li><%= link_to 'Campaña',:controller => "campaings", :action => "index"%></li>
            <li><%= link_to 'Noticias',:controller => "notices", :action => "index"%></li>
            <li><%= link_to 'Obra Social',:controller => "social_works", :action => "index"%></li>
          </ul>
    </div>

