<div id="notice">

  <h3>Campañas</h3>
  <ul>
    <% Campaing.find_last_five.each do |campaing| %>
      <li><%= link_to "#{campaing.name}-> #{campaing.date_ini}", campaing%></li>
    <% end %>
    <li><%=link_to "Ver Todos", campaings_path%></li>
  </ul>
  <h3>Ultimas noticias</h3>
  <ul>
    <% Notice.find_last_five.each do |notice| %>
        <li><%= link_to "#{notice.title}", notice%></li>
    <%end %>
    <li>><%= link_to 'Ver Todos', notices_path %></li>

  </ul>
  <h3>Obras Sociales</h3>
  <ul>
    <% SocialWork.find_last_five.each do |social_work| %>
      <li><%= link_to social_work.to_lable, social_work%></li>
    <% end %>
    <li><%= link_to 'Ver Todos', social_works_path %></li>
  </ul>
</div>